*{
    padding: 0;
    margin: 0;
}

::after,::before,*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: none;
    justify-content: center;
    padding: 1rem 0;
}

.logo-icon{
    font-size: 6rem;
}

.logo-icon2{
    font-size: 2rem;
    color: #3c3c3c;
}

.container-logo {
    width: 300px;
    background-color:none;
}
.link-logo{
    display: block;
    width: 6rem;
}


.container-logo a{
    margin-left:auto;
    margin-right: auto;
}

.container-javascript{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.logo-title{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #3c3c3c;
    font-weight: 200;
    font-size: 1rem;
}

.link-title{
    text-decoration: none;
    background-color: #e6e6e6;
    border-radius: 2px;
}
@media screen and (min-width:332px){
    .container-javascript{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 1rem 0;
        background-color: aqua;
        
    }
}

@media screen and (min-width:540px){
    .container-javascript{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem 0;
        background-color: rgb(255, 255, 255);
        
    }
}

@media screen and (min-width:762px){
    .container-javascript{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem 0;
        background-color: rgb(191, 24, 24);
        
    }
}

@media screen and (min-width:1024px){
    .container-javascript{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem 0;
        background-color: rgb(185, 191, 24);
        
    }
}



