body{
    padding: 0;
    margin: 0;
}

header{
    max-height: 60px;
    background-color: #e6e6e6;
}

.logo-img{
    max-height: 60px;
    max-width: 60px;
}

.container-logo{
    max-width: 150px;
}

aside{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: blanchedalmond;
    z-index: -100;
}

.container-main{
    margin-left: 300px;
    background-color: aqua;
    height: calc(100vh - 60px);
}

h3{
    margin: 0;
}

.div-center{
    text-align: center;
}

.div-form{
    display: inline-block;
    width: 49%;
    margin: 0;
}

label{
    display: block;
    margin: 10px;
}

input{
    width: 100%;
}

#container-nombres > span{
    color: red;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 0.7rem;
    
    padding: 0.2rem;
}

.container-radios input{
    width: auto;
}

@media screen and (max-width: 900px){
    .div-form{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .div-form{
        display: block;
        width: 100%;
    }

    aside{
        display: none;
    }

    .container-main{
        margin-left: 0;
    }
}

.div-mains{
    display: flex;
    height: 20vh;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    
}

.div1{
   order: 2; 
  
   flex-basis: 100px;
}

.div4{
    order: 1;
    flex-grow: 1;
}

.div2{
    align-self: center;
    flex-grow: 1;
}

.div3{
    align-self: flex-end;
    flex-grow: 1;
}
.div-mains div{
    
    background-color: rgb(126, 55, 127);
    
    
}
